# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
*.egg
dist/
build/

# Virtual Environment
.venv/
env/
venv/

# Testing & Coverage
.pytest_cache/
.coverage
.coverage.*
htmlcov/

# Type Checking
.mypy_cache/
.dmypy.json
dmypy.json

# IDE & Editor
.vscode/
.idea/

# OS
.DS_Store
.envrc
.env
